:root{
    /* Fonts */
    --txt-hero:'Anton', sans-serif;
    --txt-title-style:'Oswald', sans-serif;
    --txt-content-style: 'Quicksand', sans-serif;

    /* Colors */
    --homeBg-color: #780840;
    --homeBgLight-color: hsl(330, 88%, 45%);
    --slidesBg-color:#024D4D;
    --accent-color:#3BD5CB;
    --text-home-color: #ffd60a;
    --text-hero-color: #000;    
}

body{
    background-color: var(--homeBg-color);
    color: var(--text-home-color);
    font-family: var(--txt-title-style);
    font-size: 1rem;
    
    
    min-height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr;   
}

/* ----------------------------------------------------------------
Navigation
---------------------------------------------------------------- */
.navigation{    
    display: flex;
    flex-direction: column;   
    position: fixed;
    width: 100%;    
    top: 0;
    left: 0;    
    z-index: 100;
    padding: 1em 10vw;
    font-size: clamp(.8rem, 1.2vw, 1rem);    
    background-color: var(--homeBg-color);
}

.lang{
    margin-bottom: 1.5em;
}

.lang ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    gap: 1em;
    
}

.navBar{
    display: none;
}

.menuLogo{
    display: none;
}

.mobileMenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    align-items: center;
}

.mobileLogo{    
    font-family: var(--txt-content-style);
    font-weight: 800;
    font-size: clamp(.8rem, 1.5vw, 2.5rem);
    letter-spacing: clamp(.2rem, 1vw, .5rem);
    color: var(--text-home-color); 
    background-color: var(--homeBg-color);
    padding: .5em;
    border-radius: 5px;    
}

.mobileLogo a{
    color: var(--text-home-color); 
}



/* ..................................................................
Java Script: Button Close - Open
.................................................................. */
.fa-bars{
    display: block;
}

.fa-xmark{
    display: none;
}

.toggle-btn{
    background-color: var(--accent-color);
    color: var(--text-home-color);    
    text-shadow: 2px 2px rgba(58, 155, 246, .7);
    border: solid 3px rgba(0, 0, 0, .2);

    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    cursor: pointer;
}

.switchOn{
    display: block;
}
.switchOff{
    display: none;
}   

.menuMobileStyle{
    background-color: var(--text-home-color);     
    border-bottom: solid 1px var(--text-color);   
    animation: nav-load .6s ease-out;   
    color: var(--slidesBg-color);
}

nav.show{
    background-color: var(--text-home-color);    
    height: 100vh;     
    position: absolute;    
    top: 100%;
    width: 100%;
    margin-left: -10vw;

    text-align: center;   
    display: flex;   
    flex-direction: column;
    justify-content:flex-start;
    font-size: clamp(1.5rem, 1.2vw, 1rem);
    line-height: 3.5;    

    animation: nav-load .6s ease-out;
    
}  

@keyframes nav-load{
    0%{        
        background-color: rgba(255, 214, 10, .5);
    }

    100%{          
        background-color: rgba(255, 214, 10, 1);
    }
}

nav.show a{
    color: var(--homeBg-color);
}
nav.show .self-hover a{
    color: var(--slidesBg-color);
}

nav.show a:hover{
    color: var(--accent-color);
    text-shadow: 1px 1px rgba(58, 155, 246, .4);
}


/* ----------------------------------------------------------------
Hero
---------------------------------------------------------------- */
.hero{
    font-family: var(--txt-hero);
    font-size: clamp(2rem, 3.5vw, 4.5rem);
    color: var(--accent-color);
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    animation: vanishTxt 3s;   
}

@keyframes vanishTxt{
    from {color: rgba(59, 213, 203, .2);}
    to {color: var(--accent-color);}
}

.hero li{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    margin-top: .5em;   
}

.hero .angled{
    background-color: var(--text-home-color);
    color: var(--text-hero-color);
    padding: .125em .25em;
    border-radius: 5px;
    transform: rotate(-3deg);
    animation: rotation 1s;     
}

@keyframes rotation {  
    0%{transform: rotate(3deg);}              
  }

.hero .flat{
    transform: rotate(3deg);
    animation: vanishKeyWord 3s; 
}

@keyframes vanishKeyWord{
    from {color: rgba(0, 0, 0, .3);}
    to {color: rgb(0, 0, 0);}
}

/* ----------------------------------------------------------------
Footer
---------------------------------------------------------------- */
.socialMedia{    
    position: fixed;
    width: 100%;
    margin-top: auto;
    bottom: 0;
    padding: 1em 10vw;
    font-size: clamp(.5rem, 1.2vw, 1rem);
    background-color: var(--homeBg-color);
}

.fa-brands{
    font-size: clamp(1.2rem, 1.2vw, 2rem);
}
.socialMedia ul{
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    gap: 2.2em;
}

.socialMedia li:first-child{ 
    margin-right: auto;
} 

.socialMedia a:hover{
    color: var(--text-hero-color);
}

/* """""""""""""""""""""""""""""""""
    Links
""""""""""""""""""""""""""""""" */
a{
    color: var(--accent-color);
    text-decoration: none;
}

/* ----------------------------------------------------------------
Main
---------------------------------------------------------------- */        
/* ######################## About us ########################  */
.about-us{
    display: flex;
    justify-content:center;
    align-items: center;
    
}

.about-us-cards{
    border: solid 2px var(--text-home-color);
    margin: 10vh 10vw;
    box-shadow: .5em .5em 0 var(--accent-color),
                1em 1em 0 var(--text-home-color);

}

.about-us-card-01{
    background-color: var(--text-home-color);   
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 1em;   
}

.about-us-card-01 .image{    
    box-shadow: -5px 5px 5px rgba(120, 8, 64, .2);
    border-radius: .5em;
    border: solid 3px var(--slidesBg-color);
    padding: .5em 2em;
    background-color: hsl(50, 100%, 62%);    
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;    
    
}

.image .icon{
    color: var(--homeBg-color);
    font-size: clamp(1rem, 6vw, 7rem);
    margin-top: .5em;
    animation: vanishIcon 3s; 
}

@keyframes vanishIcon{
    from {color: rgba(120, 8, 64, .1);}
    to {color: var(--homeBg-color);}
}


.about-us-card-02{
    background-color: var(--slidesBg-color);
    padding: 5vh 10vw;            
}

.about-us-card-02 h2,
.services-description h2,
.questions-container h2 {
    font-size: clamp(1rem, 4vw, 5rem);
    font-weight:900;
    margin-bottom: 1em;
}

.about-us-card-02 p,
.services-description p,
.questions-container p,
.aInner p {
    font-size: clamp(1rem, 1.5vw, 2rem);    
    line-height: 1.5;
    
}

/* ######################## Services ########################  */
.services,
.questions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    margin: 15vh 10vw 5vh; 
}

/**/
.services-cards,
.questions-container{
    display: flex;
    flex-direction: column;
    padding: 5vh 5vw;
    background-color: var(--slidesBg-color);
    gap: 3em;

    border: solid 2px var(--text-home-color);
    box-shadow: .5em .5em 0 var(--accent-color),
                1em 1em 0 var(--text-home-color);
}

.services-card-01,
.services-card-02, 
.services-card-03{
    background-color: var(--text-home-color);
    padding: .5em;
    border-radius: 5px;
    line-height: 1.5;
        
}
.services-card-01 h3,
.services-card-02 h3, 
.services-card-03 h3{
    color: var(--homeBg-color);
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1em;
}

.services-card-01 p,
.services-card-02 p, 
.services-card-03 p{
    color: var(--slidesBg-color);
}

.circle{
    color: var(--text-hero-color);
    background-color: hsl(50, 100%, 62%);
    font-size: 1.5em;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -2rem auto 1rem;
    box-shadow: 0 0 8px rgba(0,0,0,.4); 
    animation: fadeIcon 3s;   
}

@keyframes fadeIcon{
    from {color: rgba(0, 0, 0, .10);}
    to {color: #000;}
}

/* ######################## FAQ ########################  */
.questions-container{
    gap: 2em;
}

.questions-container h2{
    margin-bottom: unset;
}

/*---*/
.accordion {
        position: relative;
    }
    
.aHeader button {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;    
    padding: .25rem .25rem;
    border: 0;
    border-top: solid 3px var(--slidesBg-color);
    text-align: left;
    font-size:  clamp(1rem, 1.5vw, 2rem);        
    font-family: var(--txt-title-style);
    background-color: var(--text-home-color);
    color: var(--homeBg-color);
}

.fa-plus, .fa-minus {
    width: 1rem;
    font-weight: 900;
    font-size: clamp(1rem, 1.5vw, 2rem);
}

.fa-plus {
    display: block;
}
.fa-minus {
    display: none;
}
.accordion.isOpen .fa-minus {
    display: block;
}
.accordion.isOpen .fa-plus {
    display: none;
}      
    
.aContent {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;        
}
    
.aInner {          
    padding: 1rem 1rem;
    background-color: hsl(50, 100%, 82%);
}

.aInner p{
    color: var(--slidesBg-color);
}

/* ######################## Contact ########################  */
.contact{        
    display: flex;
    justify-content:center;
    align-items: center;  
    flex-direction: column;  
    background-color: var(--slidesBg-color);
    margin: 15vh 10vw;    
    border: solid 2px var(--text-home-color);
    box-shadow: .5em .5em 0 var(--accent-color),
                1em 1em 0 var(--text-home-color);
}

.contact h2{
    font-size: clamp(2.5rem, 4vw, 5rem);
    font-weight:900;
    margin-bottom: 1em;
}

.contact ul{
    line-height: 3;
    font-size: clamp(1.5rem, 1.5vw, 3rem);
}

.contact a:hover{
    color: var(--text-home-color);
}

.cityContact{
    animation:slidein 3s;    
}

@keyframes slidein {    
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}

.mailContact{
    animation:slideinRight 3s;
}

@keyframes slideinRight {    
    from {
        margin-left: -100%;
      width: 100%;
    }
  
    to {
        margin-left: 0%;
      width: 100%;
    }
}

/* ============================================================================= 
SCREEN MIN 800
============================================================================= */
@media screen and (min-width: 800px){    
    /* ----------------------------------------------------------------
    Navigation
    ---------------------------------------------------------------- */
    .navigation .toggle-btn{
        display: none;
    }

    .menuLogo{
        display: block;
        font-family: var(--txt-content-style);
        font-weight: 800;
        font-size: clamp(1.5rem, 1.5vw, 2.5rem);
        letter-spacing: .5rem;
        color: var(--text-home-color);
    }

    .menuLogo a{
        color: var(--text-home-color);
    }

    .mobileLogo{
        display: none;
    }

    .navBar li:first-child{ 
        margin-right: auto;
    } 

    .navBar{
        display: block;
    }

    .navBar ul{
        display: flex;
        flex-direction:row;
        justify-content: flex-end;    
        gap: 1em;
        align-items: center;
    }

    /* """""""""""""""""""""""""""""""""
    Links
    """"""""""""""""""""""""""""""" */ 
    .fancy-hover::after{
        content: "";    
        height: 2px;
        width: 0;
        background-color: var(--accent-color);
        display: block; 
        transition: .5s ease-in-out;
    }

    .fancy-hover:hover::after{
        content: "";
        height: 3px;
        width: 100%;
        background-color: var(--accent-color);
        display: block;
    }

    .self-hover a{
        color: var(--text-home-color);
    }
    /* ----------------------------------------------------------------
    Main
    ---------------------------------------------------------------- */

    /* ######################## About us ########################  */
    .about-us{
        margin-top: unset;
        margin-bottom: unset;
    }
    .about-us-cards{        
        display: grid;
        grid-template-columns: 1fr 2fr;         
        position: absolute;
        z-index: 1;  
    }    
    
    .about-us-card-01 .image{
        flex-direction: column;
    }   

    .about-us-card-02{        
        padding: 10vh 5vw;                    
    }

    /* ######################## Services ########################  */
    .services{              
        margin: 20vh 10vw 10vh;
    }

    .services-cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2.5em;
    }

    .services-description{
        grid-column: 1 / span 3;
        margin-bottom: 2em;
    }

    .circle{        
        font-size: 2em;
        width: 2.2em;
        height: 2.2em;        
        margin: -4rem auto 1rem;    
    }

    /* ######################## FAQ ########################  */
         
    .aHeader button {       
        padding: 1rem 2rem;    
    }   

    /* ######################## Contact ########################  */
    .contact{

        margin-top:25vh

    }
}